lint-staged.config.js
.eslintrc.js

package.json
**/package.json
node_modules
**/node_modules
**/build
**/lib
**/mock_packages
**/static
**/typings
**/schemas
**/themes
coverage
*.map.js
*.bundle.js

# jetbrains IDE stuff
.idea/

# ms IDE stuff
.history/
.vscode/
