lint-staged.config.js
jest.config.js
.eslintrc.js

package.json
node_modules
voila_gridstack
**/build
**/lib
**/mock_packages
**/static
**/typings
**/schemas
**/themes
**/__tests__
coverage
*.map.js
*.bundle.js

# jetbrains IDE stuff
.idea/

# ms IDE stuff
.history/
.vscode/

ui-tests/playwright-report