include LICENSE
include *.md
include pyproject.toml

include ts*.json
include install.json
include package.json

graft etc
graft share
graft voila_gridstack/static
graft voila_gridstack/labextension
graft tests

# Javascript files
graft src
graft style

prune lib
prune **/node_modules

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints
