.grid-editor {
  width: 100%;
  height: 100%;
  /*background-color: darkgrey;*/
}

.grid-notebook {
  height: 100%;
  overflow: scroll;
}

.grid-panel {
  height: 100%;
  overflow: scroll;
}

.grid-content {
  border-style: solid;
}
