@import url('~@jupyterlab/application/style/index.css');
@import url('~@jupyterlab/mainmenu/style/index.css');
@import url('~@jupyterlab/theme-light-extension/style/index.css');
@import url('~@jupyterlab/ui-components/style/index.css');

@import url('./base.css');
